<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:c="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      data-namespace-typo3-fluid="true">
    <div class="table-fit">
        <table class="table table-striped table-hover" data-table="{tableName}"  uid="{record.uid}">
            <thead>
                <tr class="c-headline">
                    <th class="nowrap"></th>
                    <th class="col-name col-responsive nowrap">
                        {f:translate(key: 'module.token.name', extensionName: 'ApiToken')}
                    </th>
                    <th class="col-identifier col-responsive nowrap">
                        {f:translate(key: 'module.token.identifier', extensionName: 'ApiToken')}
                    </th>
                    <th class="col-identifier col-responsive nowrap">
                        {f:translate(key: 'module.token.crdate', extensionName: 'ApiToken')}
                    </th>
                    <th class="col-identifier col-responsive nowrap">
                        {f:translate(key: 'module.token.state', extensionName: 'ApiToken')}
                    </th>
                    <th class="col-valid-until col-responsive nowrap">
                        {f:translate(key: 'module.token.valid_until', extensionName: 'ApiToken')}
                    </th>
                    <th class="col-control nowrap"></th>
                </tr>
            </thead>
            <tbody>
                <f:for each="{records}" as="record">
                    <tr class="t3js-entity"
                        data-uid="{record.uid}"
                        data-table="{tableName}"
                        title="id={record.uid}"
                        data-l10nparent="0"
                        style="{f:if(condition: '{record.is_hidden} || {record.is_expired}', then: 'text-decoration: line-through;')} ">
                        <td class="col-icon nowrap">
                            <a href="#" class="t3js-contextmenutrigger" data-table="{tableName}" data-uid="{record.uid}">
                                {c:iconForRecord(row: record, table: tableName)}
                            </a>
                        </td>
                        <td class="col-title col-responsive nowrap">
                            <be:link.editRecord uid="{record.uid}" table="{tableName}">
                                {record.name}
                            </be:link.editRecord>
                        </td>

                        <td class="col-identifier col-responsive nowrap">
                            <be:link.editRecord uid="{record.uid}" table="{tableName}">
                                {record.identifier}
                            </be:link.editRecord>
                        </td>
                        <td class="col-title col-responsive nowrap">
                            <be:link.editRecord uid="{record.uid}" table="{tableName}">
                                <f:format.date format="Y-m-d">{record.crdate}</f:format.date>
                            </be:link.editRecord>
                        </td>
                        <td class="col-title col-responsive nowrap">
                            <be:link.editRecord uid="{record.uid}" table="{tableName}">
                               <f:if condition="{record.is_hidden}">
                                   <f:then>{f:translate(key: 'module.token.state.active', extensionName: 'ApiToken')}</f:then>
                                   <f:else>
                                       <f:if condition="{record.is_expired}">
                                           <f:then>{f:translate(key: 'module.token.state.invalid', extensionName: 'ApiToken')}</f:then>
                                           <f:else>{f:translate(key: 'module.token.state.valid', extensionName: 'ApiToken')}</f:else>
                                       </f:if>
                                   </f:else>
                               </f:if>
                            </be:link.editRecord>
                        </td>
                        <td class="col-title col-responsive nowrap">
                            <be:link.editRecord uid="{record.uid}" table="{tableName}">
                                <f:format.date format="Y-m-d">{record.valid_until}</f:format.date>
                            </be:link.editRecord>
                        </td>
                        <td class="col-control nowrap">
                            <div class="btn-group" role="group">
                                <f:render partial="Backend/Link/EditRecord" arguments="{record: record, tableName: tableName, route: route}" />
                            </div>
                        </td>
                    </tr>
                </f:for>
            </tbody>
        </table>
    </div>

</html>
