<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:c="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<be:link.editRecord class="btn btn-default" uid="{record.uid}" table="{tableName}">
    <f:if condition="!{hideIcon}">
        {c:icon(identifier: 'actions-open')}
    </f:if>
    <f:if condition="{content}">
        <f:then>
            {content -> f:format.raw()}
        </f:then>
        <f:else if="!{hideLabel}">
            {f:translate(key: 'module.button.edit', extensionName: 'ApiToken')}
        </f:else>
    </f:if>
</be:link.editRecord>

</html>
